<div id="background">
</div>
<h1></h1>
<div class="container">
	<form>
		<!-- <label>Enter City</label> -->
		<input id="city" placeholder="Enter city"><br/>
		<button class="submit"><i class="fa fa-chevron-circle-right fa-3x"></i></button>
	</form>
</div>

<div class = "list">
</div>

<div class = "weather">
</div>
<div id="cover">	
</div>
<div class="footer">
	<p>Created by Keith Reynolds (<a href="http://twitter.com/DevKeithR">@DevKeithR</a>)</p>
</div>	